# Analysis of the population and dwelling occupancy/vacancy rates in Donegal

In [1]:
# Importing pyaxis in order to read .px file type
from pyaxis import pyaxis
import pandas as pd
import numpy as np

# URL for dataset containing information on the population and dwelling occupancy/vacancy rates in dongeal, from CSO.ie
donegalDataURL = 'https://www.cso.ie/px/pxeirestat/Database/eirestat/Profile%201%20-%20Geography/CD154.px'

# Parsing the file - This will give the ["METADATA"] and ["DATA"] subsets
px = pyaxis.parse(donegalDataURL, encoding='ISO-8859-2')

# Creating a Pandas DataFrame from the ["DATA"]
df = pd.DataFrame.from_dict(px["DATA"])

# Finding the number of rows and colums so that max_rows can be set
rows, columns = df.shape

# Setting max rows
pd.set_option('display.max_rows', rows)

# Displaying the population number for the townland of Sesnacully, Raphoe, Co. Donegal
print(df.loc[(df["Townlands"] == "Sesnacully, Raphoe, Co. Donegal") & (df["Statistic"] == "Population (Number)"), ["Townlands", "Statistic", "DATA"]])

                             Townlands            Statistic  DATA
18480  Sesnacully, Raphoe, Co. Donegal  Population (Number)  12.0

In [2]:
df.head(10)

,Townlands,CensusYear,Statistic,DATA
0,"Abbernadoorny, Donegal, Co. Donegal",2011,Population (Number),NaN
1,"Abbernadoorny, Donegal, Co. Donegal",2011,Males (Number),NaN
2,"Abbernadoorny, Donegal, Co. Donegal",2011,Females (Number),NaN
3,"Abbernadoorny, Donegal, Co. Donegal",2011,Private households occupied (Number),NaN
4,"Abbernadoorny, Donegal, Co. Donegal",2011,Private households unoccupied (Number),NaN
5,"Abbernadoorny, Donegal, Co. Donegal",2011,Vacant dwellings (Number),NaN
6,"Abbernadoorny, Donegal, Co. Donegal",2011,Housing stock (Number),NaN
7,"Abbernadoorny, Donegal, Co. Donegal",2011,Vacancy rate (%),NaN
8,"Abbey Island, Ballyshannon Rural, Co. Donegal",2011,Population (Number),12.0
9,"Abbey Island, Ballyshannon Rural, Co. Donegal",2011,Males (Number),8.0

In [3]:
df["DATA"] = df["DATA"].astype(float)

df.dtypes

Townlands      object
CensusYear     object
Statistic      object
DATA          float64
dtype: object

In [4]:
dfDroppedNaNs = df.dropna()

In [5]:
dfDroppedNaNs.head(10)

,Townlands,CensusYear,Statistic,DATA
8,"Abbey Island, Ballyshannon Rural, Co. Donegal",2011,Population (Number),12.0
9,"Abbey Island, Ballyshannon Rural, Co. Donegal",2011,Males (Number),8.0
10,"Abbey Island, Ballyshannon Rural, Co. Donegal",2011,Females (Number),4.0
11,"Abbey Island, Ballyshannon Rural, Co. Donegal",2011,Private households occupied (Number),5.0
12,"Abbey Island, Ballyshannon Rural, Co. Donegal",2011,Private households unoccupied (Number),1.0
13,"Abbey Island, Ballyshannon Rural, Co. Donegal",2011,Vacant dwellings (Number),1.0
14,"Abbey Island, Ballyshannon Rural, Co. Donegal",2011,Housing stock (Number),6.0
15,"Abbey Island, Ballyshannon Rural, Co. Donegal",2011,Vacancy rate (%),16.7
16,"Abbeylands, Ballyshannon Rural, Co. Donegal",2011,Population (Number),135.0
17,"Abbeylands, Ballyshannon Rural, Co. Donegal",2011,Males (Number),70.0

In [6]:
vacantDwellings = dfDroppedNaNs.loc[(df["Statistic"] == "Vacant dwellings (Number)"), ["DATA"]]

vacantDwellings.head()

    DATA
13   1.0
21  22.0
29   5.0
37   3.0
45  17.0

In [7]:
housingStock = dfDroppedNaNs.loc[(df["Statistic"] == "Housing stock (Number)"), ["DATA"]]

housingStock.head()

     DATA
14    6.0
22   79.0
30   21.0
38    7.0
46  139.0

In [8]:
totalVacantDwellings = np.sum(vacantDwellings)

totalHousingStock = np.sum(housingStock)

In [9]:
totalVacantDwellings

DATA    23546.0
dtype: float64

In [10]:
totalHousingStock

DATA    82960.0
dtype: float64

In [11]:
totalPercentVacant = totalVacantDwellings/totalHousingStock*100

In [12]:
totalPercentVacant

DATA    28.382353
dtype: float64

In [13]:
totalStatistics = dfDroppedNaNs.groupby(["Statistic"]).sum()

In [14]:
totalStatistics

                                            DATA
Statistic
Females (Number)                         80010.0
Housing stock (Number)                   82960.0
Males (Number)                           79784.0
Population (Number)                     159794.0
Private households occupied (Number)     57810.0
Private households unoccupied (Number)   25150.0
Vacancy rate (%)                         56259.5
Vacant dwellings (Number)                23546.0

In [15]:
totalStatistics.loc["Vacant dwellings (Number)"]/totalStatistics.loc["Housing stock (Number)"]* 100

DATA    28.382353
dtype: float64